body{
    background-image: url("https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1263950/da538bac62ee5e233cd82bb75b0d3c47ba0cdc03.jpg");
    background-repeat:no-repeat;
    background-position: -60;
}