body{
    background-color: #6381AB;
}
h1, h4{
    text-align: center;
    font-family: "Cantarell", sans-serif;
    color:white;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.buttons{
    padding: 30px 70px 30px 70px;
    width: 40%;
    border-radius: 20px;
    background-color: #87ABDE;
    font-family: "Cantarell", sans-serif;
    color: white;
    text-decoration-line: none;
    font-size: xxx-large;
    transition:all 0.3s ease-in-out;
}
.buttons:hover{
    transform:scale(1.1);
    background-color:#99CEDE;
}